h1 {
    background-color: aqua;
    text-align: center;
}
a {
    background-color: black;
    color: aqua;
    font-size: large;
}
body {
    background-color: black;
}
ul {
    color: aqua;
    background-color: black;
}
h3 {
    color: aqua;
}
ol {
    background-color: black;
    color: aqua;
}
li {
    color: aqua;
}